.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  background: $blue
  background-size: cover
  background-position: top

  &__flex
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 76px
    transition: 0.3s ease all

    +TAB_MIN
      height: 106px
      &.-scrolled
        height: 106px * 0.7