.banner
  +section-bg
  min-height: 650px
  height: 100vh
  color: $white
  display: flex
  align-items: center

  &__title
    +font(size 34px weight 700)

  &__subtitle
    +font(size 16px weight 300)
    opacity: 0.6

  &__item
    margin: 41px 0 50px

  &__itemFace
    +section-bg
    display: inline-block
    border-radius: 50%
    height: 132px
    width: 132px
    +TAB_MIN
      height: 172px
      width: 172px

  &__itemTitle
    +font(size 30px weight 700)
    margin-top: 20px

  &__itemSubTitle
    +font(size 20px weight 300)
    opacity: 0.6

  &__button
    background: $blueLight
    display: inline-block
    padding: 15px
    width: 100%
    max-width: 300px
    border-radius: 30px
    transition: 0.4s ease all
    &:hover
      background: darken($blueLight, 20%)
      text-decoration: none