- var bannerStyle = 'background-image: url(' + imgDir + 'banner__bg.jpg);';

.banner(style=bannerStyle)
  .container
    .banner__center
      .banner__title.wow.fadeIn Join Conference Call
      .banner__subtitle.wow.fadeIn by

      .banner__item
        - var style = 'background-image: url(' + imgDir + 'banner__face.png)';
        .banner__itemFace(style=style)
        .banner__itemTitle Esther Akintola
        .banner__itemSubTitle @estherakintola

      a.banner__button.text-uppercase.wow.fadeIn(href="#" data-wow-delay="1.3s") Join call