.footer
  +font(size 13px)
  position: fixed
  left: 0
  bottom: 0
  right: 0
  padding: 31px 0
  background: $gray
  color: $blueDark
  z-index: -1

  &__buttonBox
    margin-top: 19px

  &__button
    display: inline-block
    margin: 0 7px
    transition: 0.2s ease all

    &:hover
      transform: scale(1.05)