.footer.overflow
  .container
    .footer__text Get the App on iOS and Android

    .footer__buttonBox
      a.footer__button(href="#")
        include ./src/img/footer__ios.svg

      a.footer__button(href="#")
        include ./src/img/footer__android.svg