.info
  background: $white
  padding: 50px 0
  +TAB_MIN
    padding: 70px 0
  &__row
    +PC_MIN
      display: flex
      justify-content: space-between

  &__column
    position: relative
    +PC_MIN
      display: flex
      align-items: center
      width: calc(50% - 50px)

  &__text
    +PC_MIN
      text-align: left

  &__title
    +font(size 24px weight 700)
    margin-bottom: 10px
    +TAB_MIN
      +font(size 32px)

  &__subtitle
    +font(size 18px)
    +TAB_MIN
      +font(size 24px)

  &__text
    +font(size 14px)
    margin-top: 24px
    +TAB_MIN
      +font(size 16px)
      margin-top: 30px

  &__phones
    margin-top: 35px
    max-width: 100%
    +TAB_MIN
      margin-top: 55px
    +PC_MIN
      margin-top: -150px