.info
  .container
    .info__row
      .info__column.wow.fadeIn(data-wow-delay="0.3s")
        .info__text
          .info__title Enjoy Conference Calls with KingsChat
          .info__subtitle Easy to use, calls up to 100 Participants and Chatroom for everyone.
          .info__text To place or join a conference call, you need a KingsChat account.

      .info__column.wow.fadeIn(data-wow-delay="0.9s")
        .info__phonesBox
          - var phones = imgDir + 'info__phones.png';
          img.info__phones(src=phones alt="Kings phone")